#icon {
    width: 15rem;
    border-radius: 50%;
}
body {
    text-align: center;
}
h1 {
    
    background-color:aquamarine;
    color:lightcoral;
}
ul {
    list-style: none;
    padding-left: 0%;
}
button {
    border-radius: 50vh;
}
.buy {
    width : 25rem;
    margin: 1rem 1rem;
}
.grandma {
    border-color:palegreen;
    background-color: burlywood;
}
.makeS {
    background-image: url(./spaghetti.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 10rem;
    width: 10rem;
}